<nav class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">MapoDesign</a>
    <div class="navbar-burger" (click)="toggleNav= !toggleNav;" [ngClass]="{'is-active': toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': toggleNav}">
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item">Home</a>
      <a class="navbar-item">About</a>
      <a class="navbar-item">Jobs</a>
      <a class="navbar-item">Contact</a>
      <a routerLink="/faq" class="navbar-item">FAQ</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download CV</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
  
</nav>
<router-outlet></router-outlet>

<footer class="footer is-primary">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>And this right here is a spiffy footer, where you can put stuff.</p>
      </div>
      <div class="column has-text-right">
        <a class="icon" href="#"><i class="fa fa-facebook"></i></a>
        <a class="icon" href="#"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</footer>